<ion-header>
  <ion-toolbar>
    <ion-title>Facts by Categories</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid id="card-grid">
      <ion-row>
        <ion-col size="6">
          <a>
          <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(2).jpg?raw=true">
          </a>
          <h5>Animals</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(8).jpg?raw=true">
          </a>
          <h5>Culture</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(3).jpg?raw=true">
          </a>
          <h5>Food</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(1).jpg?raw=true">
          </a>
          <h5>History</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project.jpg?raw=true">
          </a>
          <h5>People</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(4).jpg?raw=true">
          </a>
          <h5>Places</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(5).jpg?raw=true">
          </a>
          <h5>Politics</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(7).jpg?raw=true">
          </a>
          <h5>Sports</h5>
        </ion-col>
        <ion-col size="6">
          <a>
            <img src="https://github.com/j-juego/ImageFiles/blob/main/New%20Project%20(6).jpg?raw=true">
          </a>
          <h5>Technology</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
